.travel {
  background-color: white;
  box-shadow: 3px 3px 3px lightgray;
  font-size: 0.8rem;
  padding: 0.4rem;
  position: sticky;
  top: 3rem;
}

.travel p {
  color: gray;
  text-transform: capitalize;
  margin-top: 0.2rem;
}

.itineraries {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
}

@media screen and (orientation: landscape) {
  .travel {
    font-size: unset;
    padding: 1rem 20%;
  }

  .itineraries {
    padding: 2rem 20%;
  }

}

@media screen and (orientation: landscape) and (max-device-width: 800) {
  .travel {
    padding: 1rem 10%;
  }

  .itineraries {
    padding: 2rem 10%;
  }
}