.page {
  padding: 1rem;
}

.page, .filters {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.field {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  font-size: 1rem;
  font-family: inherit;
}

.field.location { text-transform: capitalize; }

.field::-webkit-input-placeholder { 
  font-style: italic;
  text-transform: none;
}
.field:-moz-placeholder { 
  font-style: italic;
  text-transform: none;
}
.field::-moz-placeholder { 
  font-style: italic;
  text-transform: none;
}
.field:-ms-input-placeholder { 
  font-style: italic;
  text-transform: none;
}

.locations {
  z-index: 1000;
  position: absolute;
  box-shadow: 5px 5px 5px lightgrey;
  transform: translateY(3rem);
  border: 1px solid gray;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0 0 0.3rem 0.3rem;
  width: calc(100% - 2rem);
  left: 1rem;
}

.search {
  background-color: #005dad;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  border-radius: 3rem;
}

.search:hover {
  background-color: #5cb4ff;
}

@media screen and (min-device-aspect-ratio: 1) {
  .page {
    background-image: url("/public/images/home.jpg");
    background-size: cover;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }

  .filters {
    flex-direction: row;
    width: 60%;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .field {
    border-radius: 0;
    height: 3rem;
  }

  .filters .wrapper:first-of-type .field {
    border-radius: 0.3rem 0 0 0.3rem;
    border-right: none;
  }

  .filters input[type="date"] {
    border-radius: 0 0.3rem 0.3rem 0;
    border-left: none;
  }

  .locations {
    position: absolute;
    left: 0;
    transform: translateY(3rem);
    width: 100%;
  }

  .search {
    align-self: flex-end;
    margin-right: 20%;
  }
}