.container {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.container p {
  color: rgb(144, 144, 144);
}

.time {
  display: flex;
  column-gap: 0.1rem;
}

.time .plus {
  color: rgb(76, 76, 76);
  line-height: 100%;
}